body {
  color: #e9e3e3;
  color:#bdbbbb ;
  color:#7a1616 ;
  color: #176117;
  color: #2c6600;
  color:#175a5a ;
  color: #464604;
  color: #333232;
}

/* shadow: '#999',
    hardShadow: '#333',
    red: '#ff5555',
    green: '#55ff55',
    greenDark: '#2c6600',
    blue: '#55ffff',
    yellow: '#feff00', 
    background: '#eee',
    */
